body {
    margin: 0;
    padding: 0;
    width: 1920px;
    position: relative;
    background: #FBFBFB;
    overflow-x: hidden;
}

.heder {
    width: 1922px;
    display: flex;
    height: 94px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
    position: absolute;
    left: 0px;
    top: 0px;
}

.logo {
    position: relative;
    margin-left: 151px;
}

.bigLetter { 
    position: absolute;
    width: 59px;
    height: 42px;
    left: 0px;
    top: -10px;

    font-family: "Roboto", sans-serif;
    color: #333333;
    font-weight: 900;
    font-size: 36px;
    line-height: 42,19px;
    font-style: normal;
   
}

.smallLetter { 
    position: absolute;
    width: 58px;
    height: 21px;
    left: 1px;
    top: 36px;

    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    color: #333333;

   
}

.nav {
    margin-left: 465px;
    padding-top: 21px;
}

.nav_bar {
    display: flex;
}

.nav_item {
    padding-right: 83px;    
    list-style-type: none;
}

.nav_link {
    text-decoration: none;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.light-button {
    position: relative;
    
}

.button-rectangle {
position: absolute;
width: 54px;
height: 30px;
left: 388px;
top: 32px;
background: #F2F2F2;
border-radius: 190px;
}

.button-circle {
position: absolute;
width: 20px;
height: 20px;
left: 6px;
top: 5px;
border-radius: 50px;
background: #FFFFFF;
box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

.firstScreen {
position: absolute;
width: 1920px;
height: 940px;
left: 0px;
top: 94px;

}

.firstScreenBackground {
    position: absolute;
    width: 1922px;
    height: 940px;
    left: 0px;
    top: 0px;

    background: url(assets/img/sectionOne.png);
    background-size: contain;
}

.heading {
    position: absolute;
    width: 793px;
    height: 208px;
    left: 360px;
    top: 206px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 89px;
    line-height: 104px;

    color: #FEFEFE;
}

.sectionOneButton {
        position: absolute;
        width: 245px;
        height: 55px;
        margin-left: 360px;
        margin-top: 451px;
}

.buttonOne {
    position: absolute;
    width: 245px;
    height: 55px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
}

.buttonBadge {
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: 39px;
    margin-top: 12px;
}

.buttonIcon {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
}

.tringleInButton {    
    border-radius: 5px;
    position: relative;
    color: #fff;
}

.tringleInButton::after {
    content: ''; 
    position: absolute; 
    left: 13.5px; bottom: -20px; 
    border: 5px solid transparent; 
    border-left: 5px solid #fff;
}

.buttonHeihtt {
    position: absolute;
    width: 130px;
    height: 21px;
    left: 76px;
    top: 18px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.sectionGallery {
    position: absolute;
    width: 1124px;
    height: 421px;
    left: 840px;
    top: 406px;
}

.galleryLine {
    position: absolute;
    width: 1087px;
    height: 13px;
    left: 0px;
    top: 189px;    
}

.line {
    position: absolute;
    width: 1083px;
    height: 0px;
    left: 4px;
    top: 6px;

    border: 1px solid #FEFEFE;
}

.galleryCircle {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0px;
    top: 0px;

    border: 1px solid #FEFEFE;
    box-sizing: border-box;
    border-radius: 50px;
}

.gallerySmallCircle {
    position: absolute;
    width: 5px;
    height: 5px;
    left: 4px;
    top: 4px;

    background: #FEFEFE;
    border-radius: 50px;
}

.imageEgle{
    position: absolute;
    width: 140px;
    height: 203px;
    left: 135px;
    top: 89px;

    background: url(assets/img/eagle.png);
    background-position: center;
    filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
    border-radius: 5px;
}

.imagePanda {
    position: absolute;
    width: 245px;
    height: 352px;
    left: 321px;
    top: 0px;

    background: url(assets/img/panda.png);
    background-position: center;
    filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
    border-radius: 5px;
}

.imageMonkey {
    position: absolute;
    width: 140px;
    height: 203px;
    left: 612px;
    top: 89px;

    background: url(assets/img/monkey.png);
    background-position: center;
    filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
    border-radius: 5px;
}

.imageCrocodille {
    position: absolute;
    width: 140px;
    height: 203px;
    left: 798px;
    top: 89px;

    background: url(assets/img/croc.png);
    background-position: center;
    filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
    border-radius: 5px;
}

.imageFox {
    position: absolute;
    width: 140px;
    height: 203px;
    left: 984px;
    top: 89px;

    background: url(assets/img/fox.png);
    background-position: center;
    filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
    border-radius: 5px;
}


.pagination02 {
    position: absolute;
    width: 53px;
    height: 28px;
    left: 417px;
    top: 372px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #FEFEFE;
}

.pagination08 {
    position: absolute;
    width: 53px;
    height: 28px;
    left: 452px;
    top: 376px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;

    color: rgba(189, 189, 189, 0.57);;
}

.gallerySlider {
    position: absolute;
    width: 245px;
    height: 5px;
    left: 321px;
    top: 414px;

    background: rgba(189, 189, 189, 0.57);
}

.gallerySliderTuch {
    position: absolute;
    width: 30px;
    height: 10px;
    left: 341px;
    top: 411px;

    background: #FEFEFE;
}

.socialeNet {
    position: absolute;
    width: 20px;
    height: 107px;
    left: 152px;
    top: 722px;
}

.socialeNetLinc {
    text-decoration: none;
    list-style-type: none;
}

.socialeInstagram, .socialeFacebook, .socialeGithub, .socialeYourube {
    width: 20px;
    height: 20px; 
    padding-top: 10px;
    margin: 0;
}

.secondScreen {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 1296px;
    left: 0px;
    top: 1034px;
}

.secondScreenTitle {
    position: absolute;
    width: 790px;
    height: 56px;
    left: 565px;
    top: 100px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    
    color: #333333;
}

.secondScreenContent {
    position: absolute;
    width: 790px;
    height: 80px;
    left: 564px;
    top: 176px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #4F4F4F;
}

.secondScreenPicture {
    position: absolute;
    width: 790px;
    height: 323px;
    left: 564px;
    top: 296px;

    background: url(assets/img/secondscreen.png);
    border-radius: 5px;
}

.secondScreenPaginator {
    position: absolute;
    width: 245px;
    height: 49px;
    left: 837px;
    top: 648px;
}

.pagination01{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 96px;
    top: 0px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #333333;

} 

.pagination04 {
    position: absolute;
    width: 53px;
    height: 28px;
    left: 132px;
    top: 4px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;

    color: rgba(189, 189, 189, 0.57);

}

.padinatorScroll {
    position: absolute;
    width: 245px;
    height: 10px;
    left: 0px;
    top: 39px;
    }

.paginatorLine {
    position: absolute;
    width: 245px;
    height: 5px;
    left: 0px;
    top: 3px;

    background: rgba(189, 189, 189, 0.57);
}

.paginatorTuch {
    position: absolute;
    width: 62px;
    height: 10px;
    left: 0px;
    top: 0px;

    background: #333333;
}

.secondScreenButton {
    position: absolute;
    width: 245px;
    height: 55px;
    left: 837px;
    top: 727px;
}

.buttonBackground {
    position: absolute;
    width: 245px;
    height: 55px;
    left: 0px;
    top: 0px;

    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
}

.secondScreenRectangle {
    position: absolute;
    width: 1920px;
    height: 413px;
    left: 0px;
    top: 883px;

    background: #F2F2F2;
}

.rectangleCardOne {
    position: absolute;
    width: 380px;
    height: 213px;
    left: 360px;
    top: 983px;

    border-radius: 5px;
}

.rectangleCardTwo {
    position: absolute;
    width: 380px;
    height: 165px;
    left: 770px;
    top: 983px;

    filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
    border-radius: 5px;
}

.rectangleCardTree {
    position: absolute;
    width: 380px;
    height: 181px;
    left: 1180px;
    top: 983px;

    filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
    border-radius: 5px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #333333;
}

.rectangleImg {
   padding-left: 165px; 
}

.thirdScreen {
    position: absolute;
    width: 1920px;
    height: 854px;
    left: 0px;
    top: 2330px;
}

.thirdScreenTitle {
    position: absolute;
    width: 790px;
    height: 56px;
    left: 565px;
    top: 100px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #333333;
}

.leftArrow {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 325px;
    top: 380px;    
}


.thirdScreenPicture {
    width: 277px;
    height: 399px;
    border-radius: 5px;
}

.thirdScreenPanda { 
    position: absolute;
    width: 278px;
    height: 399px;
    left: 360px;
    top: 191px;
    background: linear-gradient(348.75deg, #000000 10.15%, rgba(0, 0, 0, 0) 59%), url(assets/img/panraTree.png);
    border-radius: 5px;
}

.thirdScreenEagle {
    position: absolute;
    left: 668px;
    top: 191px;
    background: url(assets/img/eagleTree.png);
}

.thirdScreenMonkey {
    position: absolute;
    left: 975px;
    top: 191px;
    background: url(assets/img/monkeyTree.png);
}

.thirdScreenCrocodille {
    position: absolute;
    left: 1283px;
    top: 191px;
    background: url(assets/img/crocTree.png);
}



.rightArrow {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1580px;
    top: 376px;
}

.thirdScreenPanda span {
    position: absolute;
    width: 194px;
    height: 48px;
    left: 22px;
    top: 269px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.buttonWatch {
    position: absolute;
    width: 113px;
    height: 24px;
    left: 22px;
    top: 331px;;
}

.buttonWatch span {
    position: absolute;
    width: 87px;
    height: 14px;
    left: 26px;
    top: 6px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #4BD8B5;
}

.buttonBadgePanda {
    position: relative;
    width: 24px;
    height: 24px;
}

.buttonEllips {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;

    border: 1px solid #4BD8B5;;
    box-sizing: border-box;
    border-radius: 50px;
}

.tringleInButtonBlue {    
    border-radius: 5px;
    color: #4BD8B5;
}

.tringleInButtonBlue::after {
    content: ''; 
    position: absolute; 
    left: -16px; bottom: 4px; 
    border: 5px solid transparent; 
    border-left: 5px solid #4BD8B5;
}

.donate {
    position: absolute;
    width: 74px;
    height: 24px;
    left: 145px;
    top: 331px;
}

.cost {
    position: absolute;
    width: 8px;
    height: 17px;
    left: 7px;
    top: 2px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.donatetitle {
    position: absolute;
    width: 47px;
    height: 14px;
    left: 27px;
    top: 6px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.ellipse {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    
    border: 1px solid #FFFFFF;
    box-sizing: border-box; 
    border-radius: 50px;
}

.pagination301 {
    position: absolute;
    width: 53px;
    height: 28px;
    left: 96px;
    top: 0px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #333333;
}

.pagination308 {
    position: absolute;
    width: 53px;
    height: 28px;
    left: 132px;
    top: 4px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;
    
    color:rgba(189, 189, 189, 0.57);;
}

.thirdscreenPagination {
    position: absolute;
    width: 245px;
    height: 49px;
    left: 839px;
    top: 620px;
}

.padinatorTherd {
    position: absolute;
    width: 245px;
    height: 10px;
    left: 0px;
    top: 39px;
}

.padinatorTherdLine {
    position: absolute;
    width: 245px;
    height: 5px;
    left: 0px;
    top: 3px;

    background: rgba(189, 189, 189, 0.57);
}

.padinatorTherdTuch {
    position: absolute;
    width: 30px;
    height: 10px;
    left: 0px;
    top: 0px;

    background: #333333;
}

.buttons {
    position: absolute;
    width: 245px;
    height: 55px;
    left: 836px;
    top: 699px;
      
}
.button {
    position: absolute;
    width: 245px;
    height: 55px;
    left: 836px;
    top: 699px;

    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border: none;
    border-radius: 3px;
}

.buttonTitles {
    position: absolute;
    width: 210px;
    height: 21px;
    left: 18px;
    top: 18px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.sectionFour {
    position: absolute;
    width: 1921px;
    height: 754px;
    left: -1px;
    top: 3184px;

    background: #F2F2F2;
}

.SectionFourTitle {
    position: absolute;
    width: 790px;
    height: 56px;
    left: 566px;
    top: 100px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #333333;
}

.SectionFourContecst {
    position: absolute;
    width: 790px;
    height: 16px;
    left: 566px;
    top: 186px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #4F4F4F;

}

.sectionFourPayment {
    position: absolute;
    width: 1200px;
    height: 445px;
    left: 359px;
    top: 275px;
}



.paymentEllipseOne {
    position: absolute;
    width: 245px;
    height: 245px;
    left: 0px;
    top: 0px;

    border-radius: 130px;
    border: 3px solid #49D6DF;
}

.paymentEllipseTwo {
    position: absolute;
    width: 245px;
    height: 245px;
    left: 477px;
    top: 0px;

    border-radius: 130px;
    border: 3px solid #49D6DF;
}

.paymentEllipseTree {
    position: absolute;
    width: 245px;
    height: 245px;
    left: 955px;
    top: 0px;

    border-radius: 130px;
    border: 3px solid #49D6DF;
}

.paymentCardOne {
    position: absolute;
width: 245px;
height: 245px;
left: 90px;
top: 70px;
}

.paymentCardTwo {
    position: absolute;
width: 245px;
height: 245px;
left: 575px;
top: 70px;
}

.paymentCardTree {
        position: absolute;
        width: 245px;
        height: 245px;
        left: 1045px;
        top: 70px;
}

.paymentCardTitle {
    width: 136px;
    height: 46px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #4F4F4F;

}

.titleOne {
    position: absolute;
    left: 55px;
    top: 141px;
}

.titleTwo {
    position: absolute;
    left: 538px;
    top: 141px;
}

.titleTree {
    position: absolute;
    left: 1012px;
    top: 141px;
}

.arOne {
    position: absolute;
    width: 107px;
    height: 0px;
    left: 666px;
    top: 390px;
}

.artwo {
    position: absolute;
    width: 106px;
    height: 0px;
    left: 1145px;
    top: 390px;
}

.buttonPayment {
    position: absolute;
    width: 245px;
    height: 55px;
    left: 836px;
    top: 599px;
}

.buttonPayment span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    text-transform: uppercase;
    

    color: #FFFFFF;
}

.buttonPayment a {
    text-decoration: none;
}

.sectionFive {
    position: absolute;
    width: 1920px;
    height: 810px;
    left: 0px;
    top: 3938px;
}

.sectionFiveTitle {
    position: absolute;
width: 790px;
height: 56px;
left: 566px;
top: 100px;

font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #333333;
}

.sectionFiveArrowleft {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 317px;
    top: 357px;
}

.sectionFiveArrowright {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1587px;
    top: 357px;
} 

.testimonialCardOne {
    position: absolute;
    width: 585px;
    height: 310px;
    left: 361px;
    top: 206px;

    background: #FEFEFE;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
    border-radius: 5px;
}

.testimonialCardTwo {
    position: absolute;
    width: 585px;
    height: 310px;
    left: 976px;
    top: 206px;

    background: #FEFEFE;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
    border-radius: 5px;
   } 

.userOne {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 269px;
    top: 57px;
}

.userOneEllipce {
    position: absolute;
width: 68px;
height: 68px;
left: 259px;
top: 47px;

border: 1px solid #BDBDBD;
border-radius: 50px;
box-sizing: border-box;
}

.userTwo {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 259px;
    top: 47px;
}

.testimonialCardOne h3 {
    position: absolute;
    width: 148px;
    height: 23px;
    left: 219px;
    top: 122px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #333333;
}

.testimonialCardTwo h3 {
    position: absolute;
    width: 82px;
    height: 23px;
    left: 252px;
    top: 122px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #333333;
}

.testimonialCardOne span, .testimonialCardTwo span{
    position: absolute;
width: 440px;
height: 32px;
left: 73px;
top: 182px;

font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #4F4F4F;
}

.fivescreenPagination {
    position: absolute;
    width: 245px;
    height: 49px;
    left: 839px;
    top: 576px;
}

.paginationFive {
    position: absolute;
    width: 30px;
    height: 10px;
    left: 30px;
    top: 0px;
}

.sectionSix {
    position: absolute;
    width: 1921px;
    height: 904px;
    left: -1px;
    top: 4748px;
    
    background: #F2F2F2;
}

.sectionSixTitle {
    position: absolute;
    width: 790px;
    height: 56px;
    left: 566px;
    top: 100px;
    
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    
    color: #333333; 
}

.map {
    position: absolute;
    width: 1200px;
    height: 498px;
    left: 361px;
    top: 216px;
}

.toolTip {
    position: absolute;
    left: 4.16%;
    right: 73.14%;
    top: 40.49%;
    bottom: 43.03%;


    background: #FEFEFE;

    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
    }

.toolTip img {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 44px;
    top: 40px;

    border-radius: 50px;
}

.toolTip span {
    position: absolute;
    width: 166px;
    height: 21px;
    left: 129px;
    top: 40px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;

    color: #333333;
}

.toolTip p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #4F4F4F;
}

.toolTipP1 {
   position: absolute;
    width: 240px;
    height: 16px;
    left: 129px;
    top: 60px; 
}

.toolTipP2 {
    position: absolute;
    width: 252px;
    height: 16px;
    left: 129px;
    top: 81px;  
}

.pictureActive {
    width: 66px;
    height: 93px;
    background: url(assets/img/mapLink.png);
}

.pictureActive img {
 padding-left: 12px;
 padding-top: 10px;
}

.pictureActiveOne {
position: absolute;
left: 483px;
top: 290px;
}

.pictureActiveTwo {
    position: absolute;
    left: 606px;
    top: 318px;
    }

    .pictureActiveTree {
        position: absolute;
        left: 932px;
        top: 405px;
        } 

        .pictureActiveFour {
            position: absolute;
            left: 1254px;
            top: 306px;
            }


.sectionSixButton {
    position: absolute;
    top: 749px;
    left: 838px;

}

footer {
    position: absolute;
    width: 1920px;
    height: 751px;
    left: 0px;
    top: 5652px;

    background: #333333;
}

.footerLogo {
    margin-top: 110px;
}

.footerLogo h1{
    color: #FEFEFE;
}

.nav_item a {
    color: #FEFEFE;
}

.navFooter {
    margin-left: 900px;
}

.buttonFooter {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 1491px;
    top: 125px;

    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
    border: none;
}

.buttonFooter span {
    position: absolute;

    left: 30px;
    top: 17px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

footer h3 {
    position: absolute;
    width: 97px;
    height: 23px;
    left: 151px;
    top: 211px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #FEFEFE;
    }

.form {
    margin-left: 150px;
    margin-top: 120px;
}

.formInput {
        width: 383px;
         padding: 0 0 10px 0;
         border: none;
         border-bottom: 1px solid #bdbdbd; 
         background-color: transparent; 
         outline: none;
}
    
.formLabel {
    top: 0px; 
    z-index: -1;
    color: #e0e0e0; 
}  


input[type="checkbox"] {
    display: none;
  }

  label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
  }  

.checkbox label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
  }

  .checkbox label:before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 13px;
    height: 13px;
    background: #333333;
    border: 1px solid #BDBDBD;
    border-image: initial;
    vertical-align: middle;
  }
            
        
